body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}
.main{
    width: 100vw;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-container {
    width: 100%;
    max-width: 400px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.login-container h2 {
    margin-bottom: 20px;
    font-size: 28px;
    color: #007bff;
    text-align: center;
}

.loginInput {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

.invalid {
    border: 1px solid #ff0033;
}

.invalid-feedback-msg {
    margin-top: -10px;
    color: #ff0033;
    font-size: .9rem;
}

.invalid::placeholder {
    color: #ff0033;
    opacity: 1;
    /* Firefox */
}

.invalid::-ms-input-placeholder {
    /* Edge 12 -18 */
    color: #ff0033;
}

.login-container input[type="text"]:focus,
.login-container input[type="password"]:focus {
    border-color: #007bff;
    outline: none;
}

.login-container .role {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 15px;
}

.login-container .role label {
    margin-left: 5px;
    margin-right: 10px;
    font-weight: 500;
    color: #333;
}

.login-container .remember-me {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.login-container .remember-me label {
    margin-left: 5px;
}

.login-container .buttons {
    display: flex;
    justify-content: space-between;
}

.login-container button {
    width: 48%;
    padding: 12px;
    background-color: transparent;
    color: #007bff;
    border: 2px solid #007bff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.login-container button:hover {
    background-color: #007bff;
    color: #fff;
}

.login-container a {
    display: block;
    text-align: left;
    margin-top: 10px;
    color: #007bff;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease;
}

.login-container a:hover {
    color: #0056b3;
}

@media (max-width: 480px) {
    .login-container {
        padding: 20px;
        margin: 0 20px;
    }

    .login-container h2 {
        font-size: 24px;
    }

    .login-container input[type="text"],
    .login-container input[type="password"] {
        padding: 10px;
    }

    .login-container .buttons {
        display: flex;
        justify-content: space-between;
    }

    .login-container button {
        width: 48%;
    }

    .login-container .role {
        flex-direction: row;
        align-items: center;
    }
}