 /* General styling */
 body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    height: 100vh;
}
.main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form-container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.register-form h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
    text-align: center;
}

.register-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.loginInput {
    
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

.register-form button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.register-form button:hover {
    background-color: #0056b3;
}
.invalid {
    border: 1px solid #ff0033;
}
.invalid-feedback-msg{
    margin-top: -10px;
    color: #ff0033;
    font-size: .9rem;
}
/* Responsive styling */
@media (max-width: 600px) {
    .register-form h2 {
        font-size: 20px;
    }
    .main{
        padding: 0 30px 0 30px;
    }
}